footer a {
  margin: 0 1em;
  text-decoration: none;
  color: #333;
}

#copyright {
  font-weight: bold;
  font-family: cursive;
  font-size: large;

}
.footer-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
  }
  
